# intellij file
.idea
.idea/*

#gradle files
.gradle
.gradle/*

build
build/classes
build/generated
build/tmp

# cukes report
report
report/*

.DS_Store
.DS_Store/*

qa-code-challenge
qa-code-challenge/*